@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-text-color: #111111;
  --light-text-color: #707072;
  --light-bg-color: #f5f5f5;
  --semi-text-color: #2a2a33;
}

html,
body,
#root,
#__next {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
}
body {
  font-family: "Helvetica Now Text Medium", Helvetica, Arial, sans-serif;
  color: var(--main-text-color);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
p {
  font-size: 14px;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 30px;
  font-weight: bolder;
}
h4 {
  font-size: 20px;
  font-weight: bold;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
  text-decoration: none;
}
ul {
  list-style: none;
  color: var(--semi-text-color);
}
button:hover {
  filter: brightness(0.5);
}
button {
  background: none;
  cursor: pointer;
  transition: background-color 0.3s, filter 0.3s;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
